@font-face {
    font-family: Outfit;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: #E5F3FD;
}

.centerthis {
    align-self: center;
}

.grid-container {
    width: 17.5rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: (2, 1fr);
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.box1 {
    margin-left: 1rem;
    height: 300px;
}

.qr-code {
    border-radius: 10px;
    width: auto;
    height: 15.5rem
}

.qr-header {
    font-family: Outfit;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-weight: 700;
    text-wrap: wrap;
    margin: 15px;
    text-align: center;
}

.qr-body {
    font-family: Outfit;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    font-weight: 400;
    text-wrap: wrap;
    margin: 15px;
    text-align: center;
}

.attribution { 
    font-family: Outfit;
    font-size: 11px; 
    text-align: center; 
    align;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}