@font-face {
    font-family: Outfit;
    src: url(fonts/Outfit-VariableFont_wght.ttf);
}

body {
    background-color: #E5F3FD;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    width: 17.5rem;
    height: 29rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}

.flex-container-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.qr-code {
    border-radius: 10px;
    width: auto;
    height: 15.5rem;
}

.flex-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-header {
    font-family: Outfit;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
    font-weight: 700;
    text-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.qr-body {
    font-family: Outfit;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    font-weight: 400;
    text-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.attribution { 
    font-family: Outfit;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}